<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="resources/css/stylein.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-very-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="resources/img/logo2.jpg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="eventos">Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="review">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="invitacion">Invitation</a>
                    </li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="review">Review</a></li>
                            <li><a class="dropdown-item" href="soporte">Technical support</a></li>
                            <li><a class="dropdown-item" href="patrocinios">Sponsors and collaborators</a></li>
                            <li><a class="dropdown-item" href="eventosRecientes">Recent events</a></li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <!-- Banner -->
        <section id="banner">
            <div class="hover-area">
                <h2>Event planner</h2>
                <p>Organize your event without problems</p>
            </div>
            <ul class="actions special">
                <a href="login" class="button primary">Sign Up Free</a>
                <a href="" class="button">Learn More</a>
            </ul>
        </section>

        <!-- Main -->
        <section class="box special">
            <header class="major">
                <h2>Your perfect event, just a touch away.<br>From idea to celebration: everything in one place!</h2>
            </header>
            <span class="image featured"><img src="img/" alt="" /></span>
        </section>

        <!-- Parte de cajitas -->
<section class="box special2 features">
    <div class="features-row">
        <section class="feature-box">
            <span class="icon solid major fa-bolt accent2"></span>
            <h3>Birthday</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ipsam quaerat nihil velit distinctio nobis eius sit assumenda iure molestiae exercitationem, placeat, blanditiis optio. Deleniti atque repellat accusamus libero asperiores!</p>
        </section>
        <section class="feature-box">
            <span class="icon solid major fa-chart-area accent3"></span>
            <h3>Wedding</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem animi, sequi ullam est explicabo dolorum ducimus. Esse suscipit debitis illum quis amet odit unde labore eaque cumque, non consequatur eligendi.</p>
        </section>
    </div>
    <div class="features-row">
        <section class="feature-box">
            <span class="icon solid major fa-cloud accent4"></span>
            <h3>Private Events</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus dolores cumque? At, est! Hic inventore modi soluta sapiente excepturi fugit pariatur asperiores nulla, nesciunt, neque, laboriosam distinctio voluptatum maxime.</p>
        </section>
        <section class="feature-box">
            <span class="icon solid major fa-lock accent5"></span>
            <h3>Graduations</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quasi ipsum pariatur perferendis ratione ut obcaecati, quia error ad saepe eveniet ipsam explicabo! Quae quos sapiente rem expedita necessitatibus dolor?</p>
        </section>
    </div>
</section>

<!-- Cajitas 2 -->
<div class="row">
    <div class="col-6 col-12-narrower">
        <section class="feature-box2">
            <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
            <h3>Eventos Organizados</h3>
            <p>Lorem, ipsum dolor sit amet consectetur viva guatemala consquistar veraceujadipisicing elit. 
                Officia quo eaque sint quod, nam minima a accusantium fuga fugiat eius excepturi quae quam earum dolor voluptates ea et maiores. Asperiores.</p>
            <ul class="actions special">
                <li><a href="eventosRecientes" class="button alt">Learn More</a></li>
            </ul>
        </section>
    </div>
    <div class="col-6 col-12-narrower">
        <section class="feature-box2">
            <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
            <h3>sponsors and collaborators</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, rerum atque, sequi doloremque similique quia omnis nostrum dolorum non facilis ut iusto veritatis recusandae corporis praesentium facere quis dolor? Maxime?</p>
            <ul class="actions special">
                <li><a href="patrocinios" class="button alt">Learn More</a></li>
            </ul>
        </section>
    </div>
</div>

<!-- Problemas -->
<section id="cta">
    <div class="cta-box">
        <h2>If you have any problem send an email</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate expedita corporis, 
            debitis sint aspernatur at quam ad minima fugiat eligendi.
            Ipsum ducimus nulla numquam? Vitae magni dolorum nulla repellendus aperiam..</p>
        <form>
            <div class="button-email">
                <div class="email-p">
                    <input type="email" name="email" id="email" placeholder="Email Address" />
                </div>
                <div class="button-p">
                    <input type="submit"  value="Sign Up" class="fit" />
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Derechos reservados.</li><li> <a href=""></a></li>
    </ul>
</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>